.outer {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 1%;
}
.outer:hover {
  /* fecc36 */
  background-color: #ecf0f1;
}
.icon {
  border: 1px solid black;
  width: 15%;
}

.info {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  width: 70%;
}

.name {
  text-align: left;
  margin-left: 5%;
}
.name a {
  text-decoration: none;
}
.time {
  font-size: 13px;
  color: rgb(68, 68, 68);
  /* font-family: Courier, monospace; */
}
